## Ejercicios - Tuplas, Sets y Diccionarios

### Tuplas

### Ejercicio 1
- Crea una tupla utilizando la función **range()**, que tenga un rango del 11 al 19.
    - Ejemplo: **tupla = tuple(range(3))**

In [ ]:
tupla = tuple(range(11, 19))

tupla

### Ejercicio 2
- Crea una lista vacia y llenala con los números de la tupla anterior usando un bucle.

In [ ]:
lista = []

for i in tupla:
    
    lista.append(i)
    
lista

### Ejercicio 3
- Ordena la lista de mayor a menor.

In [ ]:
lista.reverse()

lista

### Ejercicio 4
- Transforma la lista a tupla y ordenala de menor a mayor.

In [ ]:
tupla = tuple(lista)

tupla = tuple(sorted(lista))

tupla

### Ejercicio 5
- ¿Que tipo de dato es la variable resultante?

In [ ]:
type(tupla)

### Ejercicio 6
- Dada la siguiente **frase = "Fui programado para servir, no para destruir - C3PO"**, conviertela en tupla, ordenala y manten la tupla. (El resultado final debe ser una tupla)

In [16]:
frase = "Fui programado para servir, no para destruir - C3PO"

In [ ]:
palabras = frase.split()

tupla = tuple(palabras)

print(tupla)

### Ejercicio 7
- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: **("a", "e", "i", "o", "u")**

In [ ]:
vocales = ("a", "e", "i", "o", "u")

for vocal in vocales:
    
    print(f"Vocal: {vocal} - veces: {frase.count(vocal)}")

### Ejercicio 8
- Dada la siguiente tupla: **(9, 8, 7, 5, "a", 3, 6, 5)**, encuentra la forma para eliminar la letra **"a"**. (El resultado final debe ser una tupla)

In [ ]:
tupla = (9, 8, 7, 5, "a", 3, 6, 5)

tupla = list(tupla)

tupla.remove("a")

tupla = tuple(tupla)

tupla

### Ejercicio 9
- Pregunta a un usuario que ingrese 5 elementos diferentes separados por coma y convierte estos elementos a una tupla, pueden ser palabras o un números.

In [ ]:
usuario_elementos = input("Introduzca 5 elementos separados por comas: ")

elementos = usuario_elementos.split()

tupla = tuple(elementos)

tupla

### Ejercicio 10
- Dada la siguiente lista de tuplas: **[(10, 20, 40), (40, 50, 60), (70, 80, 90)]**, elimina el último elemento de cada tupla dentro de la lista.

In [ ]:
lista_tuplas = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

tuplas_final = []

for tupla in lista_tuplas:
    
    tuplas_final.append(tupla[:-1])
    
tuplas_final

### Sets

### Ejercicio 11
- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al **set_1 = {"Meta", "Google", "Amazon"}**

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [ ]:
set_1 = {"Meta", "Google", "Amazon"}

entrada_empresas = input("Inserte 3 nombres de empresas de tecnología: ")

empresas = entrada_empresas.split()

print("Empresas ingresadas:", empresas)


set_1.update(empresas)

print("Set actualizado:", set_1)

### Ejercicio 12
- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan.

In [4]:
set_1 = {"Meta", "Google", "Amazon"}

entrada_empresas = input("Inserte 3 nombres de empresas de tecnología: ")

empresas = [empresa.strip(",") for empresa in entrada_empresas.split()]

set_empresas = set(empresas)

repetidas = set_1.intersection(set_empresas)

set_1.update(set_empresas)

print("Set actualizado:", set_1)

if repetidas:
    
    print("Empresas repetidas:", repetidas)
    
else:
    
    print("No hay empresas repetidas.")

Set actualizado: {'Google', 'Amazon', 'Tesla', 'Meta'}
Empresas repetidas: {'Google', 'Amazon'}

### Ejercicio 13
- Dadas las siguientes **frases_1 = "En una galaxia lejana"** y **frase_2 = "Una galaxia llamadá Via Lactea"**, haz la intersección de las palabras.

In [3]:
frase_1 = "En una galaxia lejana"

frase_2 = "Una galaxia llamadá Via Lactea"

list_frase_1 = frase_1.split()

list_frase_2 = frase_2.split()

set_1 = set(list_frase_1)

set_2 = set(list_frase_2)

interseccion = set_1.intersection(set_2)

print(interseccion)

{'galaxia'}

### Ejercicio 14
- Encuentra la diferencia entre el **set_1 = {9, 8, 7, 6, 5, 4, 3, 2}** y el **set_2 = {9, 8, 10}**
- **Extra**: hazlo utilizando un bucle **for** y no la función.

In [5]:
set_1 = {9, 8, 7, 6, 5, 4, 3, 2}
set_2 = {9, 8, 10}

diferencia = set()

for elemento in set_1:
    
    if elemento not in set_2:
        
        diferencia.add(elemento)
        
print("La diferencia entre set_1 y set_2 es:", diferencia)

La diferencia entre set_1 y set_2 es: {2, 3, 4, 5, 6, 7}

### Diccionarios

### Ejercicio 15
- Crea un diccionario con 5 elementos (5 llaves y 5 valores)
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [6]:
colores = {
    "Rojo": len("Rojo"),
    "Azul": len("Azul"),
    "Verde": len("Verde"),
    "Amarillo": len("Amarillo"),
    "Blanco": len("Blanco")
}

print(colores)

{'Rojo': 4, 'Azul': 4, 'Verde': 5, 'Amarillo': 8, 'Blanco': 6}

### Ejercicio 16
- Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [9]:
colores = {}

for i in range(5):
    
    color = input(f"Ingrese el nombre del color {i+1}: ")
    
    num_letras = int(input(f"Infrese el numero de letras del color {color}: "))
    
    colores[color] = num_letras
    
print("Diccionario con colores y el número de letras:")
print(colores)

Diccionario con colores y el número de letras:
{'Rojo': 4, 'Verde': 5, 'Negro': 5, 'Azul': 4, 'violeta': 7}

Diccionario con colores y el número de letras:
{'rojo': 4, 'azul': 4, 'verde': 5, 'amarillo': 8, 'negro': 5}

### Ejercicio 17
- Repite el ejercicio anterior pero de la siguiente forma:
    - Primero crea en una lista los colores y en otra lista el numero de letras
    - Después crea el diccionario a partir de las listas.

In [11]:
dic_colores = {}

colores = ["Azul", "Rojo", "Verde"]
num_letras = [4, 4, 5]

for llave, valor in zip(colores, num_letras):
    
    dic_colores[llave] = valor
    
dic_colores

{'Azul': 4, 'Rojo': 4, 'Verde': 5}

### Ejercicio 18
- Pide al usuario que ingrese 3 números distintos y guarda esos números como llaves y crea los valores utilizando la siguiente formula:
    - x : x**2
    
Donde x es la llave.

In [16]:
dic_numeros = {}

for i in range(3):
    
   numeros = int(input(f"Ingrese un número: numero {i+1} de 3"))    
   
   dic_numeros[numeros] = numeros ** 2

print("Diccionario con números y sus cuadrados:")

print(dic_numeros)

Diccionario con números y sus cuadrados:
{5: 25, 2: 4, 7: 49}

### Ejercicio 19
- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. Usa la función **Counter**.

In [22]:
frase = input("Introduzca una frase").lower()

dic_frase = {}

palabras = frase.split()

for palabra in palabras:
    
    if palabra in dic_frase:
    
        dic_frase[palabra] += 1
        
    else:
        
        dic_frase[palabra] = 1
        
dic_frase

{'hola': 3}

### Ejercicio 20
- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar

In [26]:
import random

aleatorio = {}

for i in range(7):
    
    numero = random.randint(100, 200)
    
    if numero % 2 == 0:
        
        aleatorio[numero] = "par"
        
    else:
        
        aleatorio[numero] = "impar"
        
aleatorio

{179: 'impar',
 163: 'impar',
 192: 'par',
 173: 'impar',
 196: 'par',
 154: 'par',
 111: 'impar'}

### Ejercicio 21
- Crea un programa donde las keys son 10 números enteros aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x : 1/x

In [28]:
num_random = {}

for i in range(10):
    
    numeros = random.randint(1, 50)
    
    num_random[numeros] = 1 / numeros
    
num_random

{8: 0.125,
 50: 0.02,
 3: 0.3333333333333333,
 14: 0.07142857142857142,
 18: 0.05555555555555555,
 16: 0.0625,
 32: 0.03125,
 9: 0.1111111111111111,
 4: 0.25}

### Ejercicio 22
- Crea un programa que dados los siguientes diccionarios: **d1 = {"a" : 125, "b" : 130, "c" : 150}**, **d2 = {"e" :  10, "b" : 20, "a" : 30}**, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [29]:
d1 = {"a": 125, "b": 130, "c": 150}
d2 = {"e": 10, "b": 20, "a": 30}

dicc_nuevo = {}

for key in d1:
    
    dicc_nuevo[key] = d1[key]
    
for key in d2:
    
    if key in dicc_nuevo:
        
        dicc_nuevo[key] += d2[key]
        
    else:
        
        dicc_nuevo[key] = d2[key]
        
dicc_nuevo

{'a': 155, 'b': 150, 'c': 150, 'e': 10}

In [ ]:
##############################################################################################################################