# ENUNCIADO EJERCICIO

## 1. CREAR BASE DE DATOS (33%)

- **Crear con c√≥digo SQL una base de datos** llamada `supermercado`.
- **C√≥digo Python con mysql connector** que ejecute el SQL para **borrar** y **generar la base de datos vac√≠a**.

---

In [1]:
import mysql.connector as con
from mysql.connector import Error

try:
    # Conectamos con la base de datos MySQL
    print("Conectando a MySQL...")
    connection = con.connect(
        host='localhost',
        port='3306',
        user='root',
        password='admin'
    )

    # Creamos un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # Eliminamos la base de datos si ya existe
    cursor.execute('DROP DATABASE IF EXISTS supermercado;')

    # Se crea la base de datos
    cursor.execute('''
                   CREATE SCHEMA supermercado
                   DEFAULT CHARACTER SET utf8;
                   ''')
    print("Base de datos 'supermercado' creada correctamente.")

    # Hacemos commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al conectar o ejecutar la consulta: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Base de datos 'supermercado' creada correctamente.
Conexi√≥n cerrada.


### Tablas: 7

#### 1. **tiendas**
- **id_tienda** (PRIMARY KEY)
- **nombre_tienda**
- **direccion**
- **ciudad**

In [2]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS tiendas (
    id_tienda INT AUTO_INCREMENT PRIMARY KEY,
    nombre_tienda VARCHAR(100) NOT NULL,
    direccion VARCHAR(255) NOT NULL,
    ciudad VARCHAR(100) NOT NULL
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.

#### 2. **empleados**
- **id_empleado** (PRIMARY KEY)
- **nombre_empleado**
- **puesto** (Ejemplo: Cajero, Gerente, Reponedor)
- **id_tienda** (FOREIGN KEY que hace referencia a `tiendas.id_tienda`)

---

In [3]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS empleados (
    id_empleado INT AUTO_INCREMENT PRIMARY KEY,
    nombre_empleado VARCHAR(100) NOT NULL,
    puesto ENUM('Cajero', 'Gerente', 'Reponedor') NOT NULL,
    id_tienda INT NOT NULL,
    FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda)
        ON DELETE CASCADE
        ON UPDATE CASCADE
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.

> ### üí° **Sobre el uso de `ENUM`**
>
> En el campo `puesto` de la tabla `empleados`, usamos un `ENUM` porque nos permite limitar los valores posibles a solo tres opciones: `'Cajero'`, `'Gerente'` y `'Reponedor'`. 
>
> #### **¬øPor qu√© `ENUM`?**
> - Es pr√°ctico: No necesitas validar manualmente en el c√≥digo si el valor que insertas es v√°lido, la base de datos lo hace por ti.
> - Ahorra espacio: MySQL almacena estos valores como n√∫meros internos, lo que es m√°s eficiente que guardar texto completo.
> - Es directo: Si ya sabes que los valores posibles no van a cambiar mucho es mejor hacerlo de esta forma.
>
> #### **Dato a tener en cuenta**:
> Si en el futuro se decide que es necesario agregar m√°s puestos (como `Supervisor` o `Jefe Supremo`), se tendr√° que modificar la estructura de la tabla.
>
> ---
>
> #### **¬øC√≥mo se hace?**
> Si se necesita agregar m√°s valores al `ENUM`, se puede hace con un comando `ALTER TABLE`. Por ejemplo, para agregar `Supervisor`, ejecutar√≠as:
>
> ```sql
> ALTER TABLE empleados 
> MODIFY puesto ENUM('Cajero', 'Gerente', 'Reponedor', 'Supervisor') NOT NULL;
> ```
>
> Esto actualiza el tipo `ENUM` para incluir el nuevo valor, sin necesidad de borrar ni recrear la tabla.
>
> ---
>
> Fuente [documentaci√≥n oficial](https://dev.mysql.com/doc/refman/8.4/en/enum.html).

#### 3. **categorias**
- **id_categoria** (PRIMARY KEY)
- **nombre_categoria**

---

In [4]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS categorias (
    id_categoria INT AUTO_INCREMENT PRIMARY KEY,
    nombre_categoria VARCHAR(100) NOT NULL UNIQUE
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.

#### 4. **productos**
- **id_producto** (PRIMARY KEY)
- **nombre_producto**
- **precio**
- **stock**
- **id_categoria** (FOREIGN KEY que hace referencia a `categorias.id_categoria`)

---

In [5]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS productos (
    id_producto INT AUTO_INCREMENT PRIMARY KEY,
    nombre_producto VARCHAR(150) NOT NULL,
    precio DECIMAL(10, 2) NOT NULL CHECK (precio >= 0),
    stock INT NOT NULL CHECK (stock >= 0),
    id_categoria INT NOT NULL,
    FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria)
        ON DELETE CASCADE
        ON UPDATE CASCADE
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.

> ### üí° **SOBRE EL USO DEL `CHECK`**
>
> En la tabla `productos`, he decidido poner `CHECK` para asegurarme de que los datos tengan sentido. Por ejemplo:
>
> - **`CHECK(precio >= 0)`**: Porque no tendr√≠a sentido que algo cueste menos de 0.
> - **`CHECK(stock >= 0)`**: Por la misma l√≥gica, no puede haber menos de 0 productos en stock.
>
> B√°sicamente, el `CHECK` es como poner un guardia de seguridad en tu base de datos: si el dato no cumple las reglas, no entra. 
>
> ---
>
> Fuente [documentaci√≥n oficial de MySQL sobre `CHECK`](https://dev.mysql.com/doc/refman/8.0/en/create-table-check-constraints.html).


#### 5. **clientes**
- **id_cliente** (PRIMARY KEY)
- **first_name**
- **last_name**
- **email**
- **codigo_postal**

---

In [6]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS clientes (
    id_cliente INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    codigo_postal VARCHAR(20) NOT NULL
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.


#### 6. **ordenes**
- **id_orden** (PRIMARY KEY)
- **id_cliente** (FOREIGN KEY que hace referencia a `clientes.id_cliente`)
- **id_empleado** (FOREIGN KEY que hace referencia a `empleados.id_empleado`)
- **fecha_orden**
- **metodo_pago** (una enum que solo admita tres valores: `Tarjeta`, `Efectivo`)

---

In [7]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS ordenes (
    id_orden INT AUTO_INCREMENT PRIMARY KEY,
    id_cliente INT NOT NULL,
    id_empleado INT NOT NULL,
    fecha_orden DATETIME NOT NULL,
    metodo_pago ENUM('Tarjeta', 'Efectivo') NOT NULL,
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado)
        ON DELETE CASCADE
        ON UPDATE CASCADE
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.


#### 7. **detalle_orden**
- **id_detalle** (PRIMARY KEY)
- **id_orden** (FOREIGN KEY que hace referencia a `ordenes.id_orden`) NOT NULL
- **id_producto** (FOREIGN KEY que hace referencia a `productos.id_producto`) NOT NULL
- **cantidad**
- **precio_unitario**: mismo precio que en la tabla `producto`
- **descuento** (podr√≠a ser NULL si no se aplica)

In [8]:
# Conexi√≥n a la base de datos MySQL
print("Conectando a MySQL...")
connection = con.connect(
    host='localhost',
    port='3306',
    user='root',
    password='admin',
    database='supermercado'  # Aseg√∫rate de estar conectado a la base de datos correcta
)

try:
    # Crear un cursor para ejecutar las sentencias SQL
    cursor = connection.cursor()

    # SQL para crear la tabla 'tiendas'
    crear_tabla_sql = '''
    CREATE TABLE IF NOT EXISTS detalle_orden (
    id_detalle INT AUTO_INCREMENT PRIMARY KEY,
    id_orden INT NOT NULL,
    id_producto INT NOT NULL,
    cantidad INT NOT NULL CHECK (cantidad > 0),
    precio_unitario DECIMAL(10, 2) NOT NULL,
    descuento DECIMAL(10, 2) NULL,
    FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden)
        ON DELETE CASCADE
        ON UPDATE CASCADE,
    FOREIGN KEY (id_producto) REFERENCES productos(id_producto)
        ON DELETE CASCADE
        ON UPDATE CASCADE
    );
    '''

    # Ejecutar la consulta para crear la tabla
    cursor.execute(crear_tabla_sql)
    print("Tabla 'tiendas' creada correctamente.")

    # Hacer commit de los cambios
    connection.commit()

except Error as e:
    print(f"Error al crear la tabla: {e}")

finally:
    # Cerrar el cursor y la conexi√≥n
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Conexi√≥n cerrada.")

Conectando a MySQL...
Tabla 'tiendas' creada correctamente.
Conexi√≥n cerrada.

### 2. **Generar datos demo desde Python (33%)**

#### * Generar datos aleatorios en listas con Python similar a los realizados en clase.
  - Uso de las librer√≠as **`datetime`**, **`timedelta`** y **`random`** para generar datos aleatorios.
  
#### * Pasar los datos a **DataFrames** de **Pandas**.
  
#### * Pasar los **DataFrames** de **Pandas** a **MySQL** usando la funci√≥n **`to_sql`** de **Pandas** con **SQLAlchemy** o usando **MySQL Connector** con sentencias **`INSERT`**.

---

#### **tiendas**

- **id_tienda**: valores enteros consecutivos (por ejemplo, 1, 2, 3...).
- **nombre_tienda**: nombres ficticios o gen√©ricos (p. ej. "Tienda Centro", "Super Norte", "Super Sur").
- **direccion**: direcciones simples (p. ej. ‚ÄúCalle Falsa 123‚Äù).
- **ciudad**: usar nombres de ciudades ficticias o reales (p. ej. ‚ÄúMadrid‚Äù, ‚ÄúBarcelona‚Äù, ‚ÄúM√©xico DF‚Äù, etc.).

En total: **5 o 10 tiendas**.

---

In [9]:
import random
import pandas as pd
from sqlalchemy import create_engine, text  # Aseg√∫rate de importar 'text'

# Definimos los datos de ejemplo
nombres_tienda = ["Tienda Centro", "Super Norte", "Super Sur", "Tienda Express", "Mega Tienda"]
ciudades = ["Madrid", "Barcelona", "M√©xico DF", "Valencia", "Lima"]
direcciones = ["Calle Falsa 123", "Avenida Siempre Viva 742", "Calle Real 456", "Avenida Libertad 100", "Calle del Sol 89"]

# Se genera la lista de tiendas con los datos aleatorios
tiendas_data = []
for i in range(1, 6):  # Para 5 tiendas con el range(1, 6)
    tienda = {
        "id_tienda": i,
        "nombre_tienda": random.choice(nombres_tienda),
        "direccion": random.choice(direcciones),
        "ciudad": random.choice(ciudades)
    }
    tiendas_data.append(tienda)

# Convertimos a DataFrame
df_tiendas = pd.DataFrame(tiendas_data)

# Mostramos los datos generados
print(df_tiendas)

# Importamos para poder conectar a la base de datos MySQL usando SQLAlchemy
from sqlalchemy import create_engine

# Nos conectamos a la base de datos MySQL
user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Se inserta el DataFrame en la tabla 'tiendas' de MySQL reemplazando la tabla si ya existe ya que considero que para hacer las pruebas es lo mejor
df_tiendas.to_sql('tiendas', con=engine, if_exists='append', index=False)

   id_tienda   nombre_tienda                 direccion     ciudad
0          1       Super Sur  Avenida Siempre Viva 742  M√©xico DF
1          2     Super Norte           Calle Falsa 123  M√©xico DF
2          3     Mega Tienda      Avenida Libertad 100  M√©xico DF
3          4     Super Norte      Avenida Libertad 100   Valencia
4          5  Tienda Express            Calle Real 456     Madrid

5

># **Nota sobre la Desactivaci√≥n Temporal de Claves For√°neas para Pruebas**
>
>Cuando trabajamos con bases de datos, las claves for√°neas son esenciales para garantizar que los datos en una tabla est√©n correctamente relacionados con otras tablas. Sin embargo, durante las pruebas o cuando necesitamos hacer grandes modificaciones en las tablas, a veces es necesario desactivar temporalmente estas restricciones. Esto nos ayuda a evitar errores que podr√≠an surgir debido a relaciones entre tablas.
>
>### **¬øPor qu√© desactivar las claves for√°neas?**
>
>Deshabilitar las claves for√°neas tiene sentido cuando estamos haciendo pruebas o realizando operaciones espec√≠ficas, como las siguientes:
>
>1. **Reemplazo de Tablas:**
>   Si estamos reemplazando una tabla completa (por ejemplo, la tabla `ordenes`), las claves for√°neas pueden generar problemas si hay registros en otras tablas que dependen de esa tabla. Esto es algo com√∫n cuando estamos cargando nuevos datos o limpiando tablas antes de hacer nuevas inserciones.
>
>2. **Evitar Errores de Integridad:**
>   Las restricciones de claves for√°neas pueden impedir ciertas operaciones si los registros referenciados todav√≠a existen en otras tablas. Esto puede resultar en errores al intentar eliminar o actualizar una tabla que est√° siendo utilizada por otras.
>
>3. **Facilitar las Pruebas:**
>   Durante las pruebas de datos o migraciones, desactivar temporalmente las claves for√°neas puede facilitarnos la manipulaci√≥n de los datos sin que las restricciones interrumpan el proceso. Esto es especialmente √∫til cuando estamos depurando o cargando grandes vol√∫menes de datos.

#### **empleados**

- **id_empleado**: valores enteros consecutivos (1, 2, 3...).
- **nombre_empleado**: nombres y apellidos ficticios (p. ej. ‚ÄúLaura Guti√©rrez‚Äù, ‚ÄúJuan P√©rez‚Äù).
- **puesto**: limitarse a un conjunto reducido de valores (p. ej. {‚ÄòCajero‚Äô, ‚ÄòGerente‚Äô, ‚ÄòReponedor‚Äô, ‚ÄòVendedor‚Äô}).
- **id_tienda**: debe hacer referencia a una tienda existente (por ejemplo, un n√∫mero entre 1 y 3 si solo tienes 3 tiendas).

En total: **20 empleados por tienda**.

---

In [10]:
from sqlalchemy import create_engine
import pandas as pd
import random

# Definimos los datos de ejemplo
nombres_empleado = ["Laura Guti√©rrez", "Juan P√©rez", "Carlos L√≥pez", "Mar√≠a Gil", "Pedro Rodr√≠guez", "Ana Ruiz", "Luis Fern√°ndez", "Beatriz Mart√≠nez", "Jorge Garc√≠a", "Carmen L√≥pez"]
puestos = ["Cajero", "Gerente", "Reponedor"]
num_tiendas = 5  # Hacemos esto porque tenemos 5 tiendas

# Se genera la lista de empleados con datos aleatorios
empleados_data = []
for tienda_id in range(1, num_tiendas + 1):  # Para cada tienda
    for i in range(1, 21):  # Para 20 empleados por tienda
        empleado = {
            "id_empleado": (tienda_id - 1) * 20 + i,  # ID √∫nico secuencial para cada tienda
            "nombre_empleado": random.choice(nombres_empleado),
            "puesto": random.choice(puestos),
            "id_tienda": tienda_id
        }
        empleados_data.append(empleado)

# Convertimos a DataFrame
df_empleados = pd.DataFrame(empleados_data)

# Mostramos los datos generados
print(df_empleados)

# Conectamos a la base de datos MySQL usando SQLAlchemy
user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Se inserta el DataFrame en la tabla 'empleados' de MySQL
df_empleados.to_sql('empleados', con=engine, if_exists='append', index=False)

    id_empleado  nombre_empleado     puesto  id_tienda
0             1        Mar√≠a Gil  Reponedor          1
1             2     Carmen L√≥pez    Gerente          1
2             3     Carlos L√≥pez     Cajero          1
3             4  Laura Guti√©rrez     Cajero          1
4             5         Ana Ruiz  Reponedor          1
..          ...              ...        ...        ...
95           96     Carmen L√≥pez  Reponedor          5
96           97        Mar√≠a Gil    Gerente          5
97           98     Jorge Garc√≠a     Cajero          5
98           99         Ana Ruiz  Reponedor          5
99          100        Mar√≠a Gil  Reponedor          5

[100 rows x 4 columns]

100

#### **categorias**

- **id_categoria**: valores enteros consecutivos (1, 2, 3...).
- **nombre_categoria**: selecci√≥n de categor√≠as (p. ej. ‚ÄúL√°cteos‚Äù, ‚ÄúCarnes‚Äù, ‚ÄúFrutas‚Äù, ‚ÄúVerduras‚Äù, ‚ÄúBebidas‚Äù, ‚ÄúSnacks‚Äù).

En total: **10 categor√≠as**.

---

In [11]:
from sqlalchemy import create_engine
import pandas as pd
import random

# Definimos las categor√≠as de productos
categorias = ["L√°cteos", "Carnes", "Frutas", "Verduras", "Bebidas", "Snacks", "Congelados", "Panader√≠a", "Cereales", "Dulces"]

# Generamos una lista de categor√≠as con datos al igual que con el resto de tablas
categorias_data = []
for i, categoria in enumerate(categorias, start=1):
    categoria_data = {
        "id_categoria": i,
        "nombre_categoria": categoria
    }
    categorias_data.append(categoria_data)

# Convertimos a DataFrame
df_categorias = pd.DataFrame(categorias_data)

# Mostramos los datos generados
print(df_categorias)

# Conectamos a la base de datos MySQL usando SQLAlchemy
user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Insertamos el DataFrame en la tabla 'categorias' de MySQL
df_categorias.to_sql('categorias', con=engine, if_exists='append', index=False)

   id_categoria nombre_categoria
0             1          L√°cteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas
5             6           Snacks
6             7       Congelados
7             8        Panader√≠a
8             9         Cereales
9            10           Dulces

10

#### **productos**

- **id_producto**: valores enteros consecutivos (1, 2, 3...).
- **nombre_producto**: nombres como ‚ÄúLeche Entera‚Äù, ‚ÄúManzana Roja‚Äù, ‚ÄúRefresco de Cola‚Äù, etc.
- **precio**: valores **DECIMAL** entre 0.50 y 50.00, por ejemplo.
- **stock**: valores **INT** entre 0 y 500 (o el rango que quieras).
- **id_categoria**: debe hacer referencia a las categor√≠as que hayas definido (1, 2, 3, etc.).

En total: **4 productos de cada categor√≠a**.

---

In [12]:
from sqlalchemy import create_engine
import pandas as pd
import random

# Definimos los productos por categor√≠a
productos = {
    1: ["Leche Entera", "Yogur Natural", "Mantequilla", "Queso Fresco"],  # L√°cteos
    2: ["Carne de Res", "Pollo", "Pechuga de Pavo", "Cerdo"],  # Carnes
    3: ["Manzana Roja", "Pl√°tano", "Naranja", "Uva"],  # Frutas
    4: ["Lechuga", "Tomate", "Espinaca", "Pepino"],  # Verduras
    5: ["Agua Mineral", "Refresco de Cola", "Jugo de Naranja", "Cerveza"],  # Bebidas
    6: ["Papitas", "Galletas", "Chocolates", "Barritas de Cereales"],  # Snacks
    7: ["Pizza Congelada", "Pechugas de Pollo Congeladas", "Verduras Congeladas", "Helado"],  # Congelados
    8: ["Pan Integral", "Pan de Molde", "Pan de Ajo", "Pan de Pita"],  # Panader√≠a
    9: ["Cereal Integral", "Avena", "Cornflakes", "Choco Krispies"],  # Cereales
    10: ["Caramelos", "Chicles", "Galletas Dulces", "Chocolate de Leche"]  # Dulces
}

# Inicializar ID consecutivo para los productos
id_producto_consecutivo = 1

# Se genera la lista de productos con datos
productos_data = []
for categoria_id, lista_productos in productos.items():
    for nombre_producto in lista_productos:
        producto_data = {
            "id_producto": id_producto_consecutivo,  # ID consecutivo
            "nombre_producto": nombre_producto,
            "precio": round(random.uniform(0.50, 50.00), 2),
            "stock": random.randint(0, 500),
            "id_categoria": categoria_id
        }
        productos_data.append(producto_data)
        id_producto_consecutivo += 1  # Incrementar el ID para el siguiente producto

# Convertimos a DataFrame
df_productos = pd.DataFrame(productos_data)

# Mostramos los datos generados
print(df_productos)

# Conectamos a la base de datos MySQL usando SQLAlchemy
user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Insertamos el DataFrame en la tabla 'productos' de MySQL
df_productos.to_sql('productos', con=engine, if_exists='append', index=False)

    id_producto               nombre_producto  precio  stock  id_categoria
0             1                  Leche Entera   42.94    390             1
1             2                 Yogur Natural   30.15    136             1
2             3                   Mantequilla   49.71     75             1
3             4                  Queso Fresco   42.21    102             1
4             5                  Carne de Res   43.69     12             2
5             6                         Pollo   48.68    292             2
6             7               Pechuga de Pavo   44.45    446             2
7             8                         Cerdo   33.08    453             2
8             9                  Manzana Roja   44.57    155             3
9            10                       Pl√°tano   48.59    308             3
10           11                       Naranja   10.86    433             3
11           12                           Uva   27.97    332             3
12           13                       Lechuga   19.80    301             4
13           14                        Tomate   14.33    384             4
14           15                      Espinaca   31.57    405             4
15           16                        Pepino   47.58    247             4
16           17                  Agua Mineral   40.94    115             5
17           18              Refresco de Cola   29.80    178             5
18           19               Jugo de Naranja    3.73    162             5
19           20                       Cerveza   22.51    319             5
20           21                       Papitas   38.58    141             6
21           22                      Galletas   30.29    345             6
22           23                    Chocolates    5.79    356             6
23           24          Barritas de Cereales   15.58     75             6
24           25               Pizza Congelada   25.11    245             7
25           26  Pechugas de Pollo Congeladas   20.25    265             7
26           27           Verduras Congeladas   24.98    215             7
27           28                        Helado    8.43     66             7
28           29                  Pan Integral   48.04     18             8
29           30                  Pan de Molde   37.78    246             8
30           31                    Pan de Ajo   40.68      3             8
31           32                   Pan de Pita   44.73    113             8
32           33               Cereal Integral   45.73    199             9
33           34                         Avena    3.50    470             9
34           35                    Cornflakes   46.20     30             9
35           36                Choco Krispies   43.59     41             9
36           37                     Caramelos   39.87    424            10
37           38                       Chicles   34.11    334            10
38           39               Galletas Dulces    2.02    390            10
39           40            Chocolate de Leche   28.55    483            10

40

>### üí° **Generaci√≥n de Productos por Categor√≠a**
>
>Lo que he hecho fue organizar los productos por categor√≠as. Para evitar tener que escribir todos los datos a mano, usamos un **diccionario** donde cada clave es el ID de la categor√≠a, y cada valor es una lista de productos correspondientes a esa categor√≠a. 
>
>Ejemplo:
>- La categor√≠a "L√°cteos" tiene productos como "Leche Entera", "Yogur Natural", etc.
>- La categor√≠a "Carnes" tiene "Carne de Res", "Pollo", y otros productos.
>
>---
>
>**Creaci√≥n de datos:**
>
>1. He creado una lista vac√≠a llamada `productos_data` donde se ir√°n agregando los productos.
>2. Para cada categor√≠a y producto:
 >   - Se calcula un **`id_producto`** creando una variable id_producto_consecutivo que empieza en 1 y se incrementa cada vez que se agrega un producto a la lista.
>    - Se genera un **`precio`** aleatorio entre 0.50 y 50.00 para hacerlo m√°s realista.
>    - Se genera un **`stock`** aleatorio entre 0 y 500, para simular la cantidad disponible de cada producto.
>    - Se asigna el **`id_categoria`**, que es el ID de la categor√≠a a la que pertenece el producto.
>
>As√≠, cada producto tiene su ID, nombre, precio, stock y categor√≠a.
>
>---
>
>**¬øPor qu√© hacerlo as√≠?**
>
>Lo he hecho aa√≠ esta para que todo fuera m√°s flexible y r√°pido. En lugar de agregar cada producto a mano, podemos generar miles de productos de forma sencilla y automatizada. Adem√°s, al organizarlos por categor√≠as, me aseguro de que cada producto est√© bien categorizado, lo que facilita luego la gesti√≥n de estos datos.

#### **clientes**

- **id_cliente**: valores enteros consecutivos (1, 2, 3...).
- **first_name**: nombres ficticios generados secuencialmente (p. ej. ‚Äúfirst_name00‚Äù, ‚Äúfirst_name01‚Äù).
- **last_name**: apellidos ficticios generados secuencialmente (p. ej. ‚Äúlast_name00‚Äù, ‚Äúlast_name01‚Äù).
- **email**: correos electr√≥nicos generados como `first_nameXX.last_nameXX@python.com` (p. ej. "first_name00.last_name00@python.com").
- **codigo_postal**: c√≥digos postales aleatorios asignados a los clientes de una lista predefinida de 20 c√≥digos postales diferentes.

En total: **2000 clientes** generados.

---

In [13]:
import random

# Lista para almacenar los datos de clientes
clientes_data = []

# Generamos 20 c√≥digos postales aleatorios
codigos_postales = [random.randint(2000, 5000) for _ in range(20)]

# Creamos 2000 clientes
for i in range(2000):
    # Se genera el nombre y apellido
    first_name = f"first_name{i:02d}" 
    last_name = f"last_name{i:02d}"  
    
    # Generamos el email
    email = f"{first_name}.{last_name}@python.com"
     
    # Asignamos un c√≥digo postal aleatorio de los 20 generados
    codigo_postal = random.choice(codigos_postales)

    # Creamos el diccionario para cada cliente
    cliente_data = {
        "id_cliente": i + 1,  # id_cliente de 1 a 2000
        "first_name": first_name,
        "last_name": last_name,
        "email": email,
        "codigo_postal": codigo_postal
    }

    # Se agrega el cliente a la lista
    clientes_data.append(cliente_data)
    
# Convertimos a DataFrame
df_clientes = pd.DataFrame(clientes_data)

# Mostramos los datos generados
print(df_clientes)

# Conectamos a la base de datos MySQL usando SQLAlchemy
user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Insertamos el DataFrame en la tabla 'clientes' de MySQL
df_clientes.to_sql('clientes', con=engine, if_exists='append', index=False)

      id_cliente      first_name      last_name  \
0              1    first_name00    last_name00
1              2    first_name01    last_name01
2              3    first_name02    last_name02
3              4    first_name03    last_name03
4              5    first_name04    last_name04
...          ...             ...            ...
1995        1996  first_name1995  last_name1995
1996        1997  first_name1996  last_name1996
1997        1998  first_name1997  last_name1997
1998        1999  first_name1998  last_name1998
1999        2000  first_name1999  last_name1999

                                        email  codigo_postal
0         first_name00.last_name00@python.com           2256
1         first_name01.last_name01@python.com           4944
2         first_name02.last_name02@python.com           4944
3         first_name03.last_name03@python.com           2418
4         first_name04.last_name04@python.com           2256
...                                       ...            ...
1995  first_name1995.last_name1995@python.com           3468
1996  first_name1996.last_name1996@python.com           2418
1997  first_name1997.last_name1997@python.com           2643
1998  first_name1998.last_name1998@python.com           2256
1999  first_name1999.last_name1999@python.com           3468

[2000 rows x 5 columns]

2000

#### **ordenes**

- **id_orden**: valores enteros consecutivos (1, 2, 3...).
- **id_cliente**: haz referencia a los IDs existentes de la tabla clientes.
- **id_empleado**: haz referencia a los IDs existentes de la tabla empleados.
- **fecha_orden**: genera fechas aleatorias o secuenciales (p. ej. entre ‚Äò2024-01-01‚Äô y ‚Äò2025-01-01‚Äô).
- **metodo_pago**: escoge entre {‚ÄòTarjeta‚Äô, ‚ÄòEfectivo‚Äô}.

En total: **10000 √≥rdenes**.

---

In [14]:
import random
import pandas as pd
from datetime import datetime, timedelta

# Definimos el n√∫mero total de √≥rdenes
total_ordenes = 10000

# Se obtenienen los IDs de clientes y empleados
clientes_ids = list(range(1, 2001))  # Para 2000 clientes
empleados_ids = list(range(1, 101))  # Para 100 empleados si tienes 5 tiendas y 20 empleados por tienda

# He creado esta funci√≥n para generar una fecha aleatoria entre dos fechas
def generar_fecha_orden(start_date, end_date):
    time_between_dates = end_date - start_date
    random_number_of_days = random.randrange(time_between_dates.days)
    return start_date + timedelta(days=random_number_of_days)

# Se establece el rango de fechas
start_date = datetime(2024, 1, 1)
end_date = datetime(2025, 1, 1)

# Definimos los m√©todos de pago posibles
metodos_pago = ['Tarjeta', 'Efectivo']

# Creamos una lista para almacenar las √≥rdenes
ordenes_data = []

# Generamos las √≥rdenes
for i in range(1, total_ordenes + 1):
    id_cliente = random.choice(clientes_ids)
    id_empleado = random.choice(empleados_ids)  # Ahora seleccionamos entre todos los empleados
    fecha_orden = generar_fecha_orden(start_date, end_date)
    metodo_pago = random.choice(metodos_pago)

    # Creamos un diccionario para la orden
    orden_data = {
        "id_orden": i,
        "id_cliente": id_cliente,
        "id_empleado": id_empleado,
        "fecha_orden": fecha_orden.strftime('%Y-%m-%d'),
        "metodo_pago": metodo_pago
    }
    
    # Se a√±ade la orden a la lista
    ordenes_data.append(orden_data)

# Creamos el DataFrame
df_ordenes = pd.DataFrame(ordenes_data)

# Mostramos las primeras filas del DataFrame
print(df_ordenes.head())

# Conectamos a la base de datos MySQL usando SQLAlchemy
user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Insertamos el DataFrame en la tabla 'ordenes' de MySQL
df_ordenes.to_sql('ordenes', con=engine, if_exists='append', index=False)

   id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0         1         349           19  2024-03-15    Efectivo
1         2        1499           70  2024-07-25     Tarjeta
2         3        1840           82  2024-10-24    Efectivo
3         4         392           36  2024-04-08     Tarjeta
4         5         987           75  2024-12-11     Tarjeta

10000

#### **detalle_orden**

- **id_detalle**: valores enteros consecutivos (1, 2, 3...).
- **id_orden**: referencia al ID de alguna orden v√°lida.
- **id_producto**: referencia al ID de alg√∫n producto v√°lido.
- **cantidad**: valores entre 1 y 20, por ejemplo.
- **precio_unitario**: usar el mismo precio que est√° en la tabla productos o uno ligeramente distinto si quieres simular ofertas.
- **descuento**: valores **DECIMAL** bajos (p. ej. 0.00, 1.00, 2.50) o **NULL**.

En total: **30000 detalles de orden**.

---

In [15]:
import random
import pandas as pd
from sqlalchemy import create_engine

# Definimos el n√∫mero total de detalles de √≥rdenes
total_detalles_orden = 30000

# Obtenemos los IDs de √≥rdenes y productos
ordenes_ids = list(range(1, 10001))  # Nos ajustamos a las 10000 √≥rdenes que hay
productos_ids = list(range(1, 41))   # Nos ajustamos a los 40 productos (4 productos por categor√≠a y 10 categor√≠as)

# He creado una funci√≥n para obtener el precio de un producto de la tabla 'productos'
def obtener_precio_unitario(id_producto):
    # Simulaci√≥n de precios ligeramente distintos para crear "ofertas"
    base_precio = random.uniform(0.50, 50.00)  # Precios aleatorios entre 0.50 y 50.00
    descuento = random.choice([0.00, 1.00, 2.50, None])  # Descuento opcional
    if descuento:
        base_precio -= descuento
    return round(base_precio, 2), descuento

# Se crea una lista para almacenar los detalles de las √≥rdenes
detalles_orden_data = []

# Generamos los detalles de las √≥rdenes
for i in range(1, total_detalles_orden + 1):
    id_orden = random.choice(ordenes_ids)
    id_producto = random.choice(productos_ids)
    cantidad = random.randint(1, 20)  # Cantidad aleatoria entre 1 y 20
    precio_unitario, descuento = obtener_precio_unitario(id_producto)

    # Creamos un diccionario para el detalle de la orden
    detalle_orden = {
        "id_detalle": i,
        "id_orden": id_orden,
        "id_producto": id_producto,
        "cantidad": cantidad,
        "precio_unitario": precio_unitario,
        "descuento": descuento if descuento is not None else None
    }

    # A√±adimos el detalle de la orden a la lista
    detalles_orden_data.append(detalle_orden)

# Creamos el DataFrame
df_detalles_orden = pd.DataFrame(detalles_orden_data)

# Mostramos las primeras filas del DataFrame
print(df_detalles_orden.head())

# Conectamos a la base de datos MySQL usando SQLAlchemy

user = "root"
password = "admin"
database = "supermercado"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Insertamos el DataFrame en la tabla 'detalle_orden' de MySQL
df_detalles_orden.to_sql('detalle_orden', con=engine, if_exists='append', index=False)

   id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0           1      1045           16        19            38.66        0.0
1           2       348           40         8             3.20        0.0
2           3      5335           34         9            32.25        0.0
3           4      4367           31        14            17.32        NaN
4           5      6223           32        18            38.81        2.5

30000

### 3. Consultas SQL (34%)

1. **Listado de √≥rdenes con detalles de cliente y empleado**
   * Muestra el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendi√≥ la compra y el m√©todo de pago.
   * Utiliza un JOIN entre las tablas `ordenes`, `clientes` y `empleados`.

In [16]:
import mysql.connector

# Se establece la conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consulta SQL 
query = """
SELECT 
    o.id_orden, 
    o.fecha_orden, 
    c.first_name AS nombre_cliente, 
    e.nombre_empleado AS nombre_empleado,
    o.metodo_pago
FROM 
    ordenes o
JOIN 
    clientes c ON o.id_cliente = c.id_cliente
JOIN 
    empleados e ON o.id_empleado = e.id_empleado;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=['ID Orden', 'Fecha Orden', 'Nombre Cliente', 'Nombre Empleado', 'M√©todo de Pago'])

# Mostramos los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

      ID Orden Fecha Orden  Nombre Cliente   Nombre Empleado M√©todo de Pago
0            1  2024-03-15   first_name348          Ana Ruiz       Efectivo
1            2  2024-07-25  first_name1498      Carmen L√≥pez        Tarjeta
2            3  2024-10-24  first_name1839      Carlos L√≥pez       Efectivo
3            4  2024-04-08   first_name391      Jorge Garc√≠a        Tarjeta
4            5  2024-12-11   first_name986   Laura Guti√©rrez        Tarjeta
...        ...         ...             ...               ...            ...
9995      9996  2024-01-29   first_name552   Laura Guti√©rrez       Efectivo
9996      9997  2024-05-24  first_name1165      Carlos L√≥pez        Tarjeta
9997      9998  2024-07-20    first_name37   Pedro Rodr√≠guez       Efectivo
9998      9999  2024-11-02   first_name472  Beatriz Mart√≠nez        Tarjeta
9999     10000  2024-03-11  first_name1728      Carmen L√≥pez        Tarjeta

[10000 rows x 5 columns]

2. **Productos con stock bajo**
   * Filtra aquellos productos cuyo stock sea menor a 10.
   * Muestra el nombre del producto, categor√≠a y stock.

In [17]:
import mysql.connector

# Se establece la conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consulta SQL 
query = """
SELECT 
    p.nombre_producto, 
    c.nombre_categoria, 
    p.stock
FROM 
    productos p
JOIN 
    categorias c ON p.id_categoria = c.id_categoria
WHERE 
    p.stock < 10;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=['Nombre Producto', 'Categor√≠a', 'Stock'])

# Mostramos los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

  Nombre Producto  Categor√≠a  Stock
0      Pan de Ajo  Panader√≠a      3

3. **Ventas totales por categor√≠a**
   * Muestra el nombre de la categor√≠a y la suma total de las ventas (ej.: multiplicando `cantidad` * `precio_unitario`) para cada categor√≠a.
   * Realiza el JOIN con `detalle_orden`, `productos` y `categorias`.
   * Utiliza agrupaci√≥n (`GROUP BY`).

In [18]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT 
    c.nombre_categoria AS Categoria,
    SUM(d.cantidad * d.precio_unitario) AS Ventas_Totales
FROM 
    detalle_orden d
JOIN 
    productos p ON d.id_producto = p.id_producto
JOIN 
    categorias c ON p.id_categoria = c.id_categoria
GROUP BY 
    c.nombre_categoria;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=['Categor√≠a', 'Ventas Totales'])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

    Categor√≠a Ventas Totales
0    Verduras      801540.68
1      Dulces      736604.43
2    Cereales      773693.71
3   Panader√≠a      756266.94
4  Congelados      791297.07
5      Frutas      776706.89
6     Bebidas      784117.85
7      Carnes      739288.93
8     L√°cteos      769396.01
9      Snacks      759219.55

4. **Clientes con mayores gastos acumulados**
   * Muestra el nombre del cliente y el monto total que ha gastado (suma de todas sus √≥rdenes).
   * Aseg√∫rate de tener en cuenta posibles descuentos (`descuento`) si se ha definido. Por ejemplo, la f√≥rmula podr√≠a ser `(cantidad * precio_unitario) - descuento`.
   * Ordena el resultado de mayor a menor gasto acumulado.

In [19]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT 
    CONCAT(c.first_name, ' ', c.last_name) AS Nombre_Cliente,
    SUM((d.cantidad * d.precio_unitario) - d.descuento) AS Gasto_Total
FROM 
    clientes c
JOIN 
    ordenes o ON c.id_cliente = o.id_cliente
JOIN 
    detalle_orden d ON o.id_orden = d.id_orden
GROUP BY 
    c.id_cliente
ORDER BY 
    Gasto_Total DESC;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=['Nombre Cliente', 'Gasto Total'])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

                    Nombre Cliente Gasto Total
0     first_name1233 last_name1233    10339.71
1     first_name1910 last_name1910    10257.28
2     first_name1342 last_name1342     9525.26
3       first_name101 last_name101     8972.63
4     first_name1260 last_name1260     8888.48
...                            ...         ...
1981  first_name1795 last_name1795        None
1982    first_name338 last_name338        None
1983  first_name1157 last_name1157        None
1984    first_name894 last_name894        None
1985    first_name490 last_name490        None

[1986 rows x 2 columns]

5. **Empleados y n√∫mero de √≥rdenes gestionadas**
   * Muestra el nombre del empleado, el puesto y la cantidad de √≥rdenes que ha gestionado.
   * Utiliza `GROUP BY` y `COUNT`.

In [20]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT 
    e.nombre_empleado AS Nombre_Empleado,
    e.puesto AS Puesto,
    COUNT(o.id_orden) AS Numero_Ordenes
FROM 
    empleados e
LEFT JOIN 
    ordenes o ON e.id_empleado = o.id_empleado
GROUP BY 
    e.id_empleado
ORDER BY 
    Numero_Ordenes DESC;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=['Nombre Empleado', 'Puesto', 'N√∫mero de √ìrdenes'])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

    Nombre Empleado     Puesto  N√∫mero de √ìrdenes
0   Pedro Rodr√≠guez     Cajero                121
1   Laura Guti√©rrez     Cajero                118
2         Mar√≠a Gil  Reponedor                116
3    Luis Fern√°ndez     Cajero                116
4      Carlos L√≥pez    Gerente                115
..              ...        ...                ...
95  Laura Guti√©rrez  Reponedor                 83
96         Ana Ruiz     Cajero                 81
97       Juan P√©rez     Cajero                 81
98     Jorge Garc√≠a    Gerente                 79
99  Laura Guti√©rrez     Cajero                 79

[100 rows x 3 columns]


6. **√ìrdenes filtradas por fecha y tienda**
   * Muestra todas las √≥rdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda espec√≠fica.
   * Incluye datos de la tienda y del cliente.

In [21]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT 
     o.id_orden AS ID_Orden,
    o.fecha_orden AS Fecha_Orden,
    c.first_name AS Nombre_Cliente,
    c.last_name AS Apellido_Cliente,
    t.nombre_tienda AS Nombre_Tienda,
    t.direccion AS Direccion_Tienda,
    t.ciudad AS Ciudad_Tienda,
    o.metodo_pago AS Metodo_Pago
FROM ordenes o
INNER JOIN empleados e ON o.id_empleado = e.id_empleado
INNER JOIN tiendas t ON e.id_tienda = t.id_tienda
INNER JOIN clientes c ON o.id_cliente = c.id_cliente
WHERE o.fecha_orden BETWEEN '2024-01-01' AND '2024-10-31'
    AND t.id_tienda = 5  -- Aqu√≠ se pone el ID de la tienda que quieras sacar
ORDER BY o.fecha_orden;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=[
    'ID Orden', 'Fecha Orden', 'Nombre Cliente', 'Apellido Cliente', 
    'Nombre Tienda', 'Direccion Tienda', 'Ciudad Tienda', 'M√©todo de Pago'
])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

      ID Orden Fecha Orden  Nombre Cliente Apellido Cliente   Nombre Tienda  \
0         9176  2024-01-01   first_name929     last_name929  Tienda Express
1          589  2024-01-01   first_name826     last_name826  Tienda Express
2         3464  2024-01-01   first_name734     last_name734  Tienda Express
3         3491  2024-01-01  first_name1877    last_name1877  Tienda Express
4         4314  2024-01-01    first_name22      last_name22  Tienda Express
...        ...         ...             ...              ...             ...
1708      4911  2024-10-31  first_name1281    last_name1281  Tienda Express
1709      5109  2024-10-31  first_name1060    last_name1060  Tienda Express
1710      7647  2024-10-31   first_name311     last_name311  Tienda Express
1711      7919  2024-10-31    first_name56      last_name56  Tienda Express
1712      8805  2024-10-31   first_name774     last_name774  Tienda Express

     Direccion Tienda Ciudad Tienda M√©todo de Pago
0      Calle Real 456        Madrid       Efectivo
1      Calle Real 456        Madrid        Tarjeta
2      Calle Real 456        Madrid        Tarjeta
3      Calle Real 456        Madrid        Tarjeta
4      Calle Real 456        Madrid       Efectivo
...               ...           ...            ...
1708   Calle Real 456        Madrid       Efectivo
1709   Calle Real 456        Madrid        Tarjeta
1710   Calle Real 456        Madrid        Tarjeta
1711   Calle Real 456        Madrid       Efectivo
1712   Calle Real 456        Madrid       Efectivo

[1713 rows x 8 columns]

7. **Ranking de productos m√°s vendidos en cada tienda**
   * Para cada tienda, muestra los 3 productos m√°s vendidos (en t√©rminos de cantidad total).
   * Tendr√°s que unir `tiendas`, `empleados`, `ordenes` y `detalle_orden`, adem√°s de `productos`.
   * Usa `GROUP BY` y ordena por la cantidad sumada (y opcionalmente, un `LIMIT 3`).

In [22]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT 
    t.nombre_tienda,
    p.nombre_producto,
    SUM(d.cantidad) AS cantidad_vendida
FROM 
    tiendas t
JOIN 
    empleados e ON t.id_tienda = e.id_tienda
JOIN 
    ordenes o ON e.id_empleado = o.id_empleado
JOIN 
    detalle_orden d ON o.id_orden = d.id_orden
JOIN 
    productos p ON d.id_producto = p.id_producto
GROUP BY 
    t.id_tienda, p.id_producto
ORDER BY 
    t.id_tienda, cantidad_vendida DESC
LIMIT 3;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=[ 
    'Nombre Tienda', 'Nombre Producto', 'Cantidad Vendida'
])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

  Nombre Tienda  Nombre Producto Cantidad Vendida
0     Super Sur  Jugo de Naranja             2060
1     Super Sur  Pechuga de Pavo             1933
2     Super Sur      Pan de Pita             1907

**Opcional:** A√±adir alguna consulta con subconsultas o algo que no se abarque en las anteriores consultas.

# Consulta con Subconsultas: Productos M√°s Vendidos por Tienda

## Objetivo

El objetivo de esta consulta es obtener los **productos m√°s vendidos** de cada tienda, mostrando el nombre de la tienda, el nombre del producto y la cantidad total vendida de cada uno de estos productos. Para ello, se hace uso de **subconsultas**, las cuales nos permiten obtener una lista de productos que han sido vendidos m√°s de 100 veces, y luego realizar un desglose por tienda.

## Descripci√≥n

1. **Subconsulta Interna**:
   - La subconsulta selecciona los `id_producto` de los productos que han sido vendidos m√°s de 100 veces. Para ello, se utiliza la funci√≥n `SUM()` en la tabla `detalle_orden` y se agrupan los resultados por `id_producto`. La condici√≥n `HAVING SUM(cantidad) > 100` filtra aquellos productos cuya cantidad total vendida sea mayor a 100.

2. **Consulta Principal**:
   - La consulta principal hace uso de varias tablas para obtener la informaci√≥n solicitada:
     - **Tienda**: Se hace un `JOIN` entre la tabla `tiendas` y `empleados` para identificar qu√© tienda est√° asociada a cada empleado.
     - **Empleado ‚Üí Orden**: Se hace un `JOIN` con la tabla `ordenes` para obtener las √≥rdenes realizadas por cada empleado.
     - **Orden ‚Üí Detalle de la Orden**: Se hace otro `JOIN` con la tabla `detalle_orden` para obtener los productos de cada orden.
     - **Detalle de la Orden ‚Üí Producto**: Finalmente, se hace un `JOIN` con la tabla `productos` para obtener el nombre del producto vendido.

3. **Filtros**:
   - La cl√°usula `WHERE` utiliza la subconsulta para filtrar los productos que cumplen con la condici√≥n de haber sido vendidos m√°s de 100 veces.

4. **Agrupamiento**:
   - Los resultados se agrupan por `id_tienda` y `id_producto` para obtener la cantidad total vendida por cada producto en cada tienda.

5. **Ordenamiento**:
   - Los resultados son ordenados por `nombre_tienda` y `total_vendido` en orden descendente, de forma que los productos m√°s vendidos aparezcan primero.

In [23]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT t.nombre_tienda, p.nombre_producto, SUM(do.cantidad) AS total_vendido
FROM tiendas t
JOIN empleados e ON t.id_tienda = e.id_tienda
JOIN ordenes o ON e.id_empleado = o.id_empleado
JOIN detalle_orden do ON o.id_orden = do.id_orden
JOIN productos p ON do.id_producto = p.id_producto
WHERE do.id_producto IN (
    SELECT id_producto
    FROM detalle_orden
    GROUP BY id_producto
    HAVING SUM(cantidad) > 100 -- Solo productos vendidos m√°s de 100 veces
)
GROUP BY t.id_tienda, p.id_producto
ORDER BY t.nombre_tienda, total_vendido DESC;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=[ 
    'Nombre Tienda', 'Nombre Producto', 'Cantidad Vendida'
])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

      Nombre Tienda       Nombre Producto Cantidad Vendida
0       Mega Tienda           Pan de Pita             2025
1       Mega Tienda                Pepino             1735
2       Mega Tienda         Yogur Natural             1713
3       Mega Tienda  Barritas de Cereales             1710
4       Mega Tienda       Galletas Dulces             1698
..              ...                   ...              ...
195  Tienda Express        Choco Krispies             1451
196  Tienda Express           Pan de Pita             1427
197  Tienda Express       Pechuga de Pavo             1373
198  Tienda Express          Carne de Res             1287
199  Tienda Express      Refresco de Cola             1280

[200 rows x 3 columns]

# Consulta: Categor√≠as M√°s Rentables por Tienda

Esta consulta tiene como objetivo encontrar las categor√≠as de productos que generan los mayores ingresos en cada tienda. Para hacerlo, usamos subconsultas y combinamos varias tablas relacionadas con productos, categor√≠as, √≥rdenes y empleados. Aqu√≠ te explico c√≥mo funciona paso a paso:

## Pasos que sigue la consulta:

1. **C√°lculo de ingresos por categor√≠a y tienda**  
   La consulta principal comienza calculando los ingresos totales por cada combinaci√≥n de tienda y categor√≠a.  
   - Los ingresos se calculan con la f√≥rmula: `(cantidad * precio_unitario) - descuento`.  
   - Este c√°lculo se agrupa por tienda (`id_tienda`) y categor√≠a (`id_categoria`).

2. **Identificar la categor√≠a m√°s rentable en cada tienda**  
   Usamos una subconsulta que compara los ingresos de cada categor√≠a con el ingreso m√°ximo dentro de esa misma tienda. As√≠, filtramos para quedarnos solo con la categor√≠a m√°s rentable por tienda.

3. **Unimos con las tablas de categor√≠as y tiendas**  
   Una vez identificadas las categor√≠as m√°s rentables, se realiza un `JOIN` con las tablas de categor√≠as y tiendas para obtener el nombre de la categor√≠a y el nombre de la tienda. Esto hace que los resultados sean m√°s legibles.

4. **Ordenar los resultados**  
   Finalmente, los resultados se ordenan por el nombre de la tienda y los ingresos de forma descendente, para que sea m√°s f√°cil identificar cu√°les son las categor√≠as m√°s rentables.

## ¬øQu√© devuelve la consulta?  
Por cada tienda, esta consulta muestra:  
- El nombre de la **categor√≠a** m√°s rentable.  
- El nombre de la **tienda** correspondiente.  
- Los **ingresos totales** generados por esa categor√≠a en esa tienda.

In [24]:
import mysql.connector

# Establecemos conexi√≥n
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="supermercado"
)

# Creamos el cursor
cursor = conexion.cursor()

# Consultamos el SQL para ventas totales por categor√≠a
query = """
SELECT 
    c.nombre_categoria AS categoria,
    t.nombre_tienda AS tienda,
    ingresos_por_categoria.total_ingresos AS ingresos_totales
FROM 
    (
        SELECT 
            e.id_tienda,
            p.id_categoria,
            SUM(do.cantidad * do.precio_unitario - do.descuento) AS total_ingresos
        FROM detalle_orden do
        JOIN productos p ON do.id_producto = p.id_producto
        JOIN ordenes o ON do.id_orden = o.id_orden
        JOIN empleados e ON o.id_empleado = e.id_empleado
        GROUP BY e.id_tienda, p.id_categoria
    ) AS ingresos_por_categoria
JOIN categorias c ON ingresos_por_categoria.id_categoria = c.id_categoria
JOIN tiendas t ON ingresos_por_categoria.id_tienda = t.id_tienda
WHERE 
    ingresos_por_categoria.total_ingresos = (
        SELECT 
            MAX(sub_ingresos.total_ingresos)
        FROM (
            SELECT 
                e.id_tienda,
                p.id_categoria,
                SUM(do.cantidad * do.precio_unitario - do.descuento) AS total_ingresos
            FROM detalle_orden do
            JOIN productos p ON do.id_producto = p.id_producto
            JOIN ordenes o ON do.id_orden = o.id_orden
            JOIN empleados e ON o.id_empleado = e.id_empleado
            GROUP BY e.id_tienda, p.id_categoria
        ) AS sub_ingresos
        WHERE 
            sub_ingresos.id_tienda = ingresos_por_categoria.id_tienda
    )
ORDER BY tienda, ingresos_totales DESC;
"""

# Ejecutamos la consulta
cursor.execute(query)

# Obtenemos los resultados
resultados = cursor.fetchall()

# Convertimos los resultados a un DataFrame de pandas para mejor visualizaci√≥n
df_resultados = pd.DataFrame(resultados, columns=[ 
    'Categoria', 'Tienda', 'Ingresos totales'
])

# Se muestran los resultados
print(df_resultados)

# Cerramos la conexi√≥n
cursor.close()
conexion.close()

  Categoria          Tienda Ingresos totales
0   Bebidas     Mega Tienda        114267.59
1    Snacks     Super Norte        123655.55
2    Frutas     Super Norte        118286.87
3  Cereales       Super Sur        124073.41
4  Verduras  Tienda Express        129066.85